openapi: 3.1.0
info:
  title: FireHydrant REST Audits Incidents API
  description: Incident management platform exposing programmatic access to incidents, services, teams, environments, runbooks, change events, on-call schedules, Signals event sources, status pages, retrospectives, and integrations. Authentication is by Bot User API token presented as a Bearer token.
  version: '1.0'
  contact:
    name: FireHydrant
    url: https://docs.firehydrant.com/reference
servers:
- url: https://api.firehydrant.io/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Incidents
paths:
  /incidents:
    get:
      summary: List incidents
      operationId: listIncidents
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      - name: query
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: severity
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paginated incident list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
      tags:
      - Incidents
    post:
      summary: Declare an incident
      operationId: createIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                summary:
                  type: string
                description:
                  type: string
                severity:
                  type: string
                priority:
                  type: string
                status:
                  type: string
                incident_type_id:
                  type: string
                tag_list:
                  type: array
                  items:
                    type: string
                impacts:
                  type: array
                  items:
                    type: object
      responses:
        '201':
          description: Incident created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
      tags:
      - Incidents
  /incidents/{incident_id}:
    get:
      summary: Retrieve an incident
      operationId: getIncident
      parameters:
      - $ref: '#/components/parameters/IncidentId'
      responses:
        '200':
          description: Incident
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
      tags:
      - Incidents
    patch:
      summary: Update an incident
      operationId: updateIncident
      parameters:
      - $ref: '#/components/parameters/IncidentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
      tags:
      - Incidents
    delete:
      summary: Archive an incident
      operationId: archiveIncident
      parameters:
      - $ref: '#/components/parameters/IncidentId'
      responses:
        '204':
          description: Archived
      tags:
      - Incidents
  /incidents/{incident_id}/close:
    put:
      summary: Close an incident
      operationId: closeIncident
      parameters:
      - $ref: '#/components/parameters/IncidentId'
      responses:
        '200':
          description: Closed
      tags:
      - Incidents
  /incidents/{incident_id}/notes:
    post:
      summary: Add an incident note
      operationId: createIncidentNote
      parameters:
      - $ref: '#/components/parameters/IncidentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - body
              properties:
                body:
                  type: string
                visibility:
                  type: string
      responses:
        '201':
          description: Note created
      tags:
      - Incidents
  /incidents/{incident_id}/events:
    get:
      summary: List events for an incident
      operationId: listIncidentEvents
      parameters:
      - $ref: '#/components/parameters/IncidentId'
      responses:
        '200':
          description: Event list
      tags:
      - Incidents
components:
  schemas:
    Pagination:
      type: object
      properties:
        count:
          type: integer
        page:
          type: integer
        items:
          type: integer
        pages:
          type: integer
        last:
          type: integer
        prev:
          type: integer
        next:
          type: integer
    Incident:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        summary:
          type: string
        current_milestone:
          type: string
        number:
          type: integer
        priority:
          type: string
        severity:
          type: string
        severity_color:
          type: string
        tag_list:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        discarded_at:
          type: string
          format: date-time
          nullable: true
        organization:
          type: object
        customer_impact_summary:
          type: string
  parameters:
    IncidentId:
      name: incident_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
