openapi: 3.2.0
info:
  title: FireHydrant Account Settings API
  version: 0.0.1
  description: Operations related to Account Settings
servers:
- url: https://api.firehydrant.io/
security:
- api_key: []
tags:
- name: Account Settings
  description: Operations related to Account Settings
paths:
  /v1/ai/preferences:
    get:
      tags:
      - Account Settings
      summary: Get AI preferences
      description: Retrieves the current AI preferences
      operationId: getAiPreferences
      responses:
        '200':
          description: Retrieves the current AI preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI_Entities_PreferencesEntity'
    patch:
      tags:
      - Account Settings
      summary: Update AI preferences
      description: Updates the AI preferences
      operationId: updateAiPreferences
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ai:
                  type: boolean
                  description: Whether to enable AI features
                summaries:
                  type: boolean
                  description: Whether to enable incident summaries
                description:
                  type: boolean
                  description: Whether to enable incident descriptions
                impact:
                  type: boolean
                  description: Whether to enable incident impact
                updates:
                  type: boolean
                  description: Whether to enable incident updates
                retros:
                  type: boolean
                  description: Whether to enable incident retrospectives
                followups:
                  type: boolean
                  description: Whether to enable incident followups
                similar_incidents:
                  type: boolean
                  description: Whether to enable similar incidents
      responses:
        '200':
          description: Updates the AI preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI_Entities_PreferencesEntity'
  /v1/ai/summarize_incident/{incident_id}/{generated_summary_id}/vote:
    put:
      tags:
      - Account Settings
      operationId: voteOnIncidentSummary
      parameters:
      - name: incident_id
        in: path
        required: true
        schema:
          type: string
      - name: generated_summary_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - direction
              type: object
              properties:
                direction:
                  type: string
                  enum:
                  - up
                  - down
        required: true
      responses:
        '200':
          description: updated Vote
          content: {}
      summary: Vote on an AI-generated incident summary
  /v1/bootstrap:
    get:
      tags:
      - Account Settings
      operationId: getBootstrap
      responses:
        '200':
          description: get Bootstrap(s)
          content: {}
      summary: Get initial application configuration and settings
  /v1/entitlements:
    get:
      tags:
      - Account Settings
      description: Retrieve all entitlements
      operationId: listEntitlements
      parameters:
      - name: name
        in: query
        description: Name of Entitlement
        schema:
          type: string
      - name: type
        in: query
        description: Type of Entitlement
        schema:
          type: string
          enum:
          - quota
          - access
      responses:
        '200':
          description: Retrieve all entitlements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementEntityPaginated'
      summary: List entitlements
  /v1/noauth/ping:
    get:
      tags:
      - Account Settings
      summary: Check API connectivity
      description: Simple endpoint to verify your API connection is working
      operationId: apiPingNoAuth
      responses:
        '200':
          description: Simple endpoint to verify your API connection is working
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PongEntity'
  /v1/ping:
    get:
      tags:
      - Account Settings
      summary: Check API connectivity
      description: Simple endpoint to verify your API connection is working
      operationId: apiPing
      responses:
        '200':
          description: Simple endpoint to verify your API connection is working
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PongEntity'
  /v1/saved_searches/{resource_type}/{saved_search_id}:
    get:
      tags:
      - Account Settings
      summary: Get a saved search
      description: Retrieve a specific save search
      operationId: getSavedSearch
      parameters:
      - name: resource_type
        in: path
        required: true
        schema:
          type: string
          enum:
          - change_events
          - incidents
          - services
          - scheduled_maintenances
          - ticket_tasks
          - ticket_follow_ups
          - analytics
          - impact_analytics
          - alerts
          - incident_events
      - name: saved_search_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve a specific save search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchEntity'
    delete:
      tags:
      - Account Settings
      summary: Delete a saved search
      description: Delete a specific saved search
      operationId: deleteSavedSearch
      parameters:
      - name: resource_type
        in: path
        required: true
        schema:
          type: string
          enum:
          - change_events
          - incidents
          - services
          - scheduled_maintenances
          - ticket_tasks
          - ticket_follow_ups
          - analytics
          - impact_analytics
          - alerts
          - incident_events
      - name: saved_search_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete a specific saved search
          content: {}
    patch:
      tags:
      - Account Settings
      summary: Update a saved search
      description: Update a specific saved search
      operationId: updateSavedSearch
      parameters:
      - name: resource_type
        in: path
        required: true
        schema:
          type: string
          enum:
          - change_events
          - incidents
          - services
          - scheduled_maintenances
          - ticket_tasks
          - ticket_follow_ups
          - analytics
          - impact_analytics
          - alerts
          - incident_events
      - name: saved_search_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchV1SavedSearchesResourceTypeSavedSearchId'
        required: true
      responses:
        '200':
          description: Update a specific saved search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchEntity'
      x-codegen-request-body-name: patchV1SavedSearchesResourceTypeSavedSearchId
components:
  schemas:
    PaginationEntity:
      type: object
      properties:
        count:
          type: integer
          format: int32
        page:
          type: integer
          format: int32
        items:
          type: integer
          format: int32
        pages:
          type: integer
          format: int32
        last:
          type: integer
          format: int32
        prev:
          type:
          - integer
          - 'null'
          format: int32
        next:
          type:
          - integer
          - 'null'
          format: int32
    OrganizationEntity:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
    PongEntity:
      type: object
      properties:
        response:
          type: string
        actor:
          $ref: '#/components/schemas/ActorEntity'
        organization:
          $ref: '#/components/schemas/OrganizationEntity'
      description: PongEntity model
    EntitlementEntityPaginated:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementEntity'
        pagination:
          $ref: '#/components/schemas/PaginationEntity'
      description: EntitlementEntityPaginated model
    SavedSearchEntity:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        resource_type:
          type: string
        user_id:
          type: string
        is_private:
          type: boolean
          description: Whether or not this saved search is private
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        filter_values:
          type: object
          properties: {}
          description: An unstructured key/value pair of saved values for searching
      description: SavedSearchEntity model
    patchV1SavedSearchesResourceTypeSavedSearchId:
      type: object
      properties:
        is_private:
          type: boolean
        name:
          type: string
        filter_values:
          type: object
          additionalProperties: true
      description: Update a specific saved search
    AI_Entities_PreferencesEntity:
      type: object
      properties:
        ai:
          type: boolean
        description:
          type: boolean
        followups:
          type: boolean
        impact:
          type: boolean
        retros:
          type: boolean
        similar_incidents:
          type: boolean
        summaries:
          type: boolean
        updates:
          type: boolean
      description: AI_Entities_PreferencesEntity model
    EntitlementEntity:
      type: object
      properties:
        current_count:
          type: integer
          format: int32
        errors:
          type: array
          items:
            type: string
        exists:
          type: boolean
        available:
          type: boolean
        maximum:
          type: integer
          format: int32
        name:
          type: string
        slug:
          type: string
        tier:
          type: string
          enum:
          - free
          - essentials
          - enterprise
          - signals_only
    ActorEntity:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        type:
          type: string
          enum:
          - firehydrant_user
          - firehydrant_bot
          - alertmanager
          - asana
          - aws
          - bugsnag
          - checkly
          - custom_alerts
          - datadog
          - shortcut
          - new_relic
          - nunc
          - github
          - giphy
          - google_meet
          - google_calendar
          - microsoft_teams
          - microsoft_teams_v2
          - webex
          - jira_cloud
          - jira_onprem
          - opsgenie
          - pager_duty
          - honeycomb
          - patchy
          - service_now
          - signals
          - slack
          - statuspage
          - victorops
          - zendesk
          - zoom
          - confluence_cloud
          - google_docs
          - zoom_v2
          - linear
          - cortex
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
x-speakeasy-test: true
x-original-swagger-version: '2.0'
