openapi: 3.1.0
info:
  title: FireHydrant REST Audits Change Events API
  description: Incident management platform exposing programmatic access to incidents, services, teams, environments, runbooks, change events, on-call schedules, Signals event sources, status pages, retrospectives, and integrations. Authentication is by Bot User API token presented as a Bearer token.
  version: '1.0'
  contact:
    name: FireHydrant
    url: https://docs.firehydrant.com/reference
servers:
- url: https://api.firehydrant.io/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Change Events
paths:
  /change_events:
    post:
      summary: Create a change event
      operationId: createChangeEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - summary
              properties:
                summary:
                  type: string
                description:
                  type: string
                external_id:
                  type: string
      responses:
        '201':
          description: Created
      tags:
      - Change Events
  /change_events/{change_event_id}:
    get:
      summary: Retrieve a change event
      operationId: getChangeEvent
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Change event
      tags:
      - Change Events
    delete:
      summary: Delete a change event
      operationId: deleteChangeEvent
      parameters:
      - name: change_event_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
      tags:
      - Change Events
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
